<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户服务测试</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-btn-container layui-margin-5" style="text-align: center;">
    <a href="/user/user-login">
        <button class="layui-btn" type="button">登录</button>
    </a>
    <a href="/user/user-enroll">
        <button class="layui-btn layui-bg-blue" type="button">注册</button>
    </a>
    <a href="/user/user-list">
        <button class="layui-btn layui-bg-orange" type="button">用户数据</button>
    </a>
    <!--    <button type="button" class="layui-btn layui-bg-purple">紫色按钮</button>-->
    <!--    <button type="button" class="layui-btn layui-btn-disabled">禁用按钮</button>-->
</div>
</body>
</html>