<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-btn-container layui-margin-10" style="text-align: center; margin-top: 100px;">
    <a href="/user/user-login" target="_blank">
        <button class="layui-btn" type="button">登录</button>
    </a>
    <a href="/user/user-enroll" target="_blank">
        <button class="layui-btn layui-bg-blue" type="button">注册</button>
    </a>
    <a th:href="@{/user/getUserInfo/{id}(id=${userId})}" target="_blank">
        <button class="layui-btn layui-bg-orange" type="button">个人信息</button>
    </a>
    <a href="/product/index" target="_blank">
        <button type="button" class="layui-btn layui-bg-purple">商城首页</button>
    </a>
    <a th:href="@{/favorites/getUserFavoritesHtml/{id}(id=${userId})}" target="_blank">
        <button class="layui-btn layui-bg-red" type="button">我的收藏</button>
    </a>
    <a href="#" target="_blank">
        <button class="layui-btn" type="button">我的订单</button>
    </a>
    <a href="#" target="_blank">
        <button class="layui-btn layui-bg-blue" type="button">收货地址</button>
    </a>
    <a href="#" target="_blank">
        <button class="layui-btn layui-bg-orange" type="button">物流信息</button>
    </a>
    <a href="#" target="_blank">
        <button type="button" class="layui-btn layui-bg-purple">售后服务</button>
    </a>
    <a href="#" target="_blank">
        <button class="layui-btn layui-bg-red" type="button">优惠券包</button>
    </a>
    <a href="#" target="_blank">
        <button type="button" class="layui-btn layui-btn-disabled">后台管理</button>
    </a>
</div>
</body>
</html>